<!-- <div class="box" style="width: 220px; height: 250px; background-color: aqua; display: flex; flex-direction: column;align-items: center;">
    <div class="box_img" style="width: 200px; height: 150px; background-color: grey;">
        <img src="{{product.img.url}}">
    </div>
    <div class="box_title">
        <p>{{product.name}}</p>
    </div>
    <div class="">
        <p>Rs. {{product.price}}</p>
    </div>
</div> -->
<div class="car">
    <div class="cart">
        <div class="cart_box">
            <img src="{{product.img.url}}">
        </div>
        <div class="card_title">
            <h3>{{product.name}}</h3>
        </div>
        <div class="card_about">
            <p>Rs. {{product.price}}</p>
        </div>
        <div class="cart_button">
            <button>add to cart</button>
        </div>
    </div>
</div>